In [1]:
!pip install pyarrow
!pip install google-cloud-bigquery

Requirement already satisfied: pyarrow in c:\programdata\anaconda3\lib\site-packages (4.0.0)
Requirement already satisfied: numpy>=1.16.6 in c:\programdata\anaconda3\lib\site-packages (from pyarrow) (1.19.2)
Requirement already satisfied: google-cloud-bigquery in c:\programdata\anaconda3\lib\site-packages (2.17.0)
Requirement already satisfied: google-api-core[grpc]<2.0.0dev,>=1.23.0 in c:\programdata\anaconda3\lib\site-packages (from google-cloud-bigquery) (1.28.0)
Requirement already satisfied: requests<3.0.0dev,>=2.18.0 in c:\programdata\anaconda3\lib\site-packages (from google-cloud-bigquery) (2.24.0)
Requirement already satisfied: proto-plus>=1.10.0 in c:\programdata\anaconda3\lib\site-packages (from google-cloud-bigquery) (1.18.1)
Requirement already satisfied: protobuf>=3.12.0 in c:\programdata\anaconda3\lib\site-packages (from google-cloud-bigquery) (3.17.0)
Requirement already satisfied: google-cloud-core<2.0dev,>=1.4.1 in c:\programdata\anaconda3\lib\site-packages (from google-cloud-bigquery) (1.6.0)
Requirement already satisfied: google-resumable-media<2.0dev,>=0.6.0 in c:\programdata\anaconda3\lib\site-packages (from google-cloud-bigquery) (1.3.0)
Requirement already satisfied: packaging>=14.3 in c:\programdata\anaconda3\lib\site-packages (from google-cloud-bigquery) (20.4)
Requirement already satisfied: pytz in c:\programdata\anaconda3\lib\site-packages (from google-api-core[grpc]<2.0.0dev,>=1.23.0->google-cloud-bigquery) (2020.1)
Requirement already satisfied: setuptools>=40.3.0 in c:\programdata\anaconda3\lib\site-packages (from google-api-core[grpc]<2.0.0dev,>=1.23.0->google-cloud-bigquery) (50.3.1.post20201107)
Requirement already satisfied: six>=1.13.0 in c:\programdata\anaconda3\lib\site-packages (from google-api-core[grpc]<2.0.0dev,>=1.23.0->google-cloud-bigquery) (1.15.0)
Requirement already satisfied: googleapis-common-protos<2.0dev,>=1.6.0 in c:\programdata\anaconda3\lib\site-packages (from google-api-core[grpc]<2.0.0dev,>=1.23.0->google-cloud-bigquery) (1.53.0)
Requirement already satisfied: google-auth<2.0dev,>=1.25.0 in c:\programdata\anaconda3\lib\site-packages (from google-api-core[grpc]<2.0.0dev,>=1.23.0->google-cloud-bigquery) (1.30.0)
Requirement already satisfied: grpcio<2.0dev,>=1.29.0; extra == "grpc" in c:\programdata\anaconda3\lib\site-packages (from google-api-core[grpc]<2.0.0dev,>=1.23.0->google-cloud-bigquery) (1.38.0)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\programdata\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-bigquery) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-bigquery) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-bigquery) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-bigquery) (1.25.11)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0; python_version >= "3.5" in c:\programdata\anaconda3\lib\site-packages (from google-resumable-media<2.0dev,>=0.6.0->google-cloud-bigquery) (1.1.2)
Requirement already satisfied: pyparsing>=2.0.2 in c:\programdata\anaconda3\lib\site-packages (from packaging>=14.3->google-cloud-bigquery) (2.4.7)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\programdata\anaconda3\lib\site-packages (from google-auth<2.0dev,>=1.25.0->google-api-core[grpc]<2.0.0dev,>=1.23.0->google-cloud-bigquery) (0.2.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from google-auth<2.0dev,>=1.25.0->google-api-core[grpc]<2.0.0dev,>=1.23.0->google-cloud-bigquery) (4.2.2)
Requirement already satisfied: rsa<5,>=3.1.4; python_version >= "3.6" in c:\programdata\anaconda3\lib\site-packages (from google-auth<2.0dev,>=1.25.0->google-api-core[grpc]<2.0.0dev,>=1.23.0->google-cloud-bigquery) (4.7.2)
Requirement already satisfied: cffi>=1.0.0 in c:\programdata\anaconda3\lib\site-packages (from google-crc32c<2.0dev,>=1.0; python_version >= "3.5"->google-resumable-media<2.0dev,>=0.6.0->google-cloud-bigquery) (1.14.3)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\programdata\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<2.0dev,>=1.25.0->google-api-core[grpc]<2.0.0dev,>=1.23.0->google-cloud-bigquery) (0.4.8)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.0.0->google-crc32c<2.0dev,>=1.0; python_version >= "3.5"->google-resumable-media<2.0dev,>=0.6.0->google-cloud-bigquery) (2.20)

In [2]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\programdata\anaconda3\lib\site-packages (2.8.6)

In [244]:
import psycopg2
import pandas as pd

from google.cloud import bigquery
from google.oauth2 import service_account

# Extracting data from PostgreSQL

In [245]:
conn = psycopg2.connect( host = 'localhost', port = 5432, database = 'Adventuresworks', user = 'postgres',password='1234' )

In [246]:
cur = conn.cursor()
table = pd.read_sql_query( 'SELECT * FROM production.product', conn )
table1=pd.read_sql_query('SELECT * FROM person.person',conn)
tableSalesStorePerson=pd.read_sql_query('SELECT * FROM sales.salesperson',conn)
tableStore=pd.read_sql_query('SELECT * FROM sales.store',conn)
tableSalesTerritory=pd.read_sql_query('SELECT * FROM sales.salesterritory',conn)
cur.close()

In [247]:
conn.close()

In [248]:
table.dtypes

productid                         int64
name                             object
productnumber                    object
makeflag                           bool
finishedgoodsflag                  bool
color                            object
safetystocklevel                  int64
reorderpoint                      int64
standardcost                    float64
listprice                       float64
size                             object
sizeunitmeasurecode              object
weightunitmeasurecode            object
weight                          float64
daystomanufacture                 int64
productline                      object
class                            object
style                            object
productsubcategoryid            float64
productmodelid                  float64
sellstartdate            datetime64[ns]
sellenddate              datetime64[ns]
discontinueddate                 object
rowguid                          object
modifieddate             datetime64[ns]
dtype: object

In [249]:
table.head()

,productid,name,productnumber,makeflag,finishedgoodsflag,color,safetystocklevel,reorderpoint,standardcost,listprice,...,productline,class,style,productsubcategoryid,productmodelid,sellstartdate,sellenddate,discontinueddate,rowguid,modifieddate
0,1,Adjustable Race,AR-5381,False,False,None,1000,750,0.0,0.0,...,None,None,None,NaN,NaN,2008-04-30,NaT,None,694215b7-08f7-4c0d-acb1-d734ba44c0c8,2014-02-08 10:01:36.827
1,2,Bearing Ball,BA-8327,False,False,None,1000,750,0.0,0.0,...,None,None,None,NaN,NaN,2008-04-30,NaT,None,58ae3c20-4f3a-4749-a7d4-d568806cc537,2014-02-08 10:01:36.827
2,3,BB Ball Bearing,BE-2349,True,False,None,800,600,0.0,0.0,...,None,None,None,NaN,NaN,2008-04-30,NaT,None,9c21aed2-5bfa-4f18-bcb8-f11638dc2e4e,2014-02-08 10:01:36.827
3,4,Headset Ball Bearings,BE-2908,False,False,None,800,600,0.0,0.0,...,None,None,None,NaN,NaN,2008-04-30,NaT,None,ecfed6cb-51ff-49b5-b06c-7d8ac834db8b,2014-02-08 10:01:36.827
4,316,Blade,BL-2036,True,False,None,800,600,0.0,0.0,...,None,None,None,NaN,NaN,2008-04-30,NaT,None,e73e9750-603b-4131-89f5-3dd15ed5ff80,2014-02-08 10:01:36.827

In [250]:
table.describe()

,productid,safetystocklevel,reorderpoint,standardcost,listprice,weight,daystomanufacture,productsubcategoryid,productmodelid
count,504.000000,504.000000,504.000000,504.000000,504.000000,205.000000,504.000000,295.000000,295.000000
mean,673.039683,535.150794,401.363095,258.602961,438.666250,74.069220,1.103175,12.294915,37.444068
std,229.373142,374.112954,280.584715,461.632808,773.602843,182.166588,1.492616,9.860135,34.025442
min,1.000000,4.000000,3.000000,0.000000,0.000000,2.120000,0.000000,1.000000,1.000000
25%,447.750000,100.000000,75.000000,0.000000,0.000000,2.880000,0.000000,2.000000,11.000000
50%,747.500000,500.000000,375.000000,23.372200,49.990000,17.900000,1.000000,12.000000,26.000000
75%,873.250000,1000.000000,750.000000,317.075825,564.990000,27.350000,1.000000,17.000000,48.500000
max,999.000000,1000.000000,750.000000,2171.294200,3578.270000,1050.000000,4.000000,37.000000,128.000000

In [251]:
table[["productid","listprice"]]

     productid  listprice
0            1       0.00
1            2       0.00
2            3       0.00
3            4       0.00
4          316       0.00
..         ...        ...
499        995     101.24
500        996     121.49
501        997     539.99
502        998     539.99
503        999     539.99

[504 rows x 2 columns]

In [252]:
table.iloc[0:3]

,productid,name,productnumber,makeflag,finishedgoodsflag,color,safetystocklevel,reorderpoint,standardcost,listprice,...,productline,class,style,productsubcategoryid,productmodelid,sellstartdate,sellenddate,discontinueddate,rowguid,modifieddate
0,1,Adjustable Race,AR-5381,False,False,None,1000,750,0.0,0.0,...,None,None,None,NaN,NaN,2008-04-30,NaT,None,694215b7-08f7-4c0d-acb1-d734ba44c0c8,2014-02-08 10:01:36.827
1,2,Bearing Ball,BA-8327,False,False,None,1000,750,0.0,0.0,...,None,None,None,NaN,NaN,2008-04-30,NaT,None,58ae3c20-4f3a-4749-a7d4-d568806cc537,2014-02-08 10:01:36.827
2,3,BB Ball Bearing,BE-2349,True,False,None,800,600,0.0,0.0,...,None,None,None,NaN,NaN,2008-04-30,NaT,None,9c21aed2-5bfa-4f18-bcb8-f11638dc2e4e,2014-02-08 10:01:36.827

In [253]:
table.loc[[1,2]]

,productid,name,productnumber,makeflag,finishedgoodsflag,color,safetystocklevel,reorderpoint,standardcost,listprice,...,productline,class,style,productsubcategoryid,productmodelid,sellstartdate,sellenddate,discontinueddate,rowguid,modifieddate
1,2,Bearing Ball,BA-8327,False,False,None,1000,750,0.0,0.0,...,None,None,None,NaN,NaN,2008-04-30,NaT,None,58ae3c20-4f3a-4749-a7d4-d568806cc537,2014-02-08 10:01:36.827
2,3,BB Ball Bearing,BE-2349,True,False,None,800,600,0.0,0.0,...,None,None,None,NaN,NaN,2008-04-30,NaT,None,9c21aed2-5bfa-4f18-bcb8-f11638dc2e4e,2014-02-08 10:01:36.827

In [254]:
table.loc[[1,2],["listprice"]]

   listprice
1        0.0
2        0.0

In [255]:
table1.dtypes

businessentityid                  int64
persontype                       object
namestyle                          bool
title                            object
firstname                        object
middlename                       object
lastname                         object
suffix                           object
emailpromotion                    int64
additionalcontactinfo            object
demographics                     object
rowguid                          object
modifieddate             datetime64[ns]
dtype: object

In [256]:
table1.head()

,businessentityid,persontype,namestyle,title,firstname,middlename,lastname,suffix,emailpromotion,additionalcontactinfo,demographics,rowguid,modifieddate
0,1,EM,False,None,Ken,J,Sánchez,None,0,None,"<IndividualSurvey xmlns=""http://schemas.micros...",92c4279f-1207-48a3-8448-4636514eb7e2,2009-01-07
1,2,EM,False,None,Terri,Lee,Duffy,None,1,None,"<IndividualSurvey xmlns=""http://schemas.micros...",d8763459-8aa8-47cc-aff7-c9079af79033,2008-01-24
2,3,EM,False,None,Roberto,None,Tamburello,None,0,None,"<IndividualSurvey xmlns=""http://schemas.micros...",e1a2555e-0828-434b-a33b-6f38136a37de,2007-11-04
3,4,EM,False,None,Rob,None,Walters,None,0,None,"<IndividualSurvey xmlns=""http://schemas.micros...",f2d7ce06-38b3-4357-805b-f4b6b71c01ff,2007-11-28
4,5,EM,False,Ms.,Gail,A,Erickson,None,0,None,"<IndividualSurvey xmlns=""http://schemas.micros...",f3a3f6b4-ae3b-430c-a754-9f2231ba6fef,2007-12-30

In [257]:
tableSalesStorePerson.dtypes

businessentityid             int64
territoryid                float64
salesquota                 float64
bonus                      float64
commissionpct              float64
salesytd                   float64
saleslastyear              float64
rowguid                     object
modifieddate        datetime64[ns]
dtype: object

In [258]:
tableSalesStorePerson

,businessentityid,territoryid,salesquota,bonus,commissionpct,salesytd,saleslastyear,rowguid,modifieddate
0,274,NaN,NaN,0.0,0.000,5.596976e+05,0.000000e+00,48754992-9ee0-4c0e-8c94-9451604e3e02,2010-12-28
1,275,2.0,300000.0,4100.0,0.012,3.763178e+06,1.750406e+06,1e0a7274-3064-4f58-88ee-4c6586c87169,2011-05-24
2,276,4.0,250000.0,2000.0,0.015,4.251369e+06,1.439156e+06,4dd9eee4-8e81-4f8c-af97-683394c1f7c0,2011-05-24
3,277,3.0,250000.0,2500.0,0.015,3.189418e+06,1.997186e+06,39012928-bfec-4242-874d-423162c3f567,2011-05-24
4,278,6.0,250000.0,500.0,0.010,1.453719e+06,1.620277e+06,7a0ae1ab-b283-40f9-91d1-167abf06d720,2011-05-24
5,279,5.0,300000.0,6700.0,0.010,2.315186e+06,1.849641e+06,52a5179d-3239-4157-ae29-17e868296dc0,2011-05-24
6,280,1.0,250000.0,5000.0,0.010,1.352577e+06,1.927059e+06,be941a4a-fb50-4947-bda4-bb8972365b08,2011-05-24
7,281,4.0,250000.0,3550.0,0.010,2.458536e+06,2.073506e+06,35326ddb-7278-4fef-b3ba-ea137b69094e,2011-05-24
8,282,6.0,250000.0,5000.0,0.015,2.604541e+06,2.038235e+06,31fd7fc1-dc84-4f05-b9a0-762519eacacc,2011-05-24
9,283,1.0,250000.0,3500.0,0.012,1.573013e+06,1.371635e+06,6bac15b2-8ffb-45a9-b6d5-040e16c2073f,2011-05-24
10,284,1.0,300000.0,3900.0,0.019,1.576562e+06,0.000000e+00,ac94ec04-a2dc-43e3-8654-dd0c546abc17,2012-09-23
11,285,NaN,NaN,0.0,0.000,1.725245e+05,0.000000e+00,cfdbef27-b1f7-4a56-a878-0221c73bae67,2013-03-07
12,286,9.0,250000.0,5650.0,0.018,1.421811e+06,2.278549e+06,9b968777-75dc-45bd-a8df-9cdaa72839e1,2013-05-23
13,287,NaN,NaN,0.0,0.000,5.199059e+05,0.000000e+00,1dd1f689-df74-4149-8600-59555eef154b,2012-04-09
14,288,8.0,250000.0,75.0,0.018,1.827067e+06,1.307950e+06,224bb25a-62e3-493e-acaf-4f8f5c72396a,2013-05-23
15,289,10.0,250000.0,5150.0,0.020,4.116871e+06,1.635823e+06,25f6838d-9db4-4833-9ddc-7a24283af1ba,2012-05-23
16,290,7.0,250000.0,985.0,0.016,3.121616e+06,2.396540e+06,f509e3d4-76c8-42aa-b353-90b7b8db08de,2012-05-23

In [259]:
tableStore

,businessentityid,name,salespersonid,demographics,rowguid,modifieddate
0,292,Next-Door Bike Store,279,"<StoreSurvey xmlns=""http://schemas.microsoft.c...",a22517e3-848d-4ebe-b9d9-7437f3432304,2014-09-12 11:15:07.497
1,294,Professional Sales and Service,276,"<StoreSurvey xmlns=""http://schemas.microsoft.c...",b50ca50b-c601-4a13-b07e-2c63862d71b4,2014-09-12 11:15:07.497
2,296,Riders Company,277,"<StoreSurvey xmlns=""http://schemas.microsoft.c...",337c3688-1339-4e1a-a08a-b54b23566e49,2014-09-12 11:15:07.497
3,298,The Bike Mechanics,275,"<StoreSurvey xmlns=""http://schemas.microsoft.c...",7894f278-f0c8-4d16-bd75-213fdbf13023,2014-09-12 11:15:07.497
4,300,Nationwide Supply,286,"<StoreSurvey xmlns=""http://schemas.microsoft.c...",c3fc9705-a8c4-4f3a-9550-eb2fa4b7b64d,2014-09-12 11:15:07.497
...,...,...,...,...,...,...
696,1988,Retreat Inn,282,"<StoreSurvey xmlns=""http://schemas.microsoft.c...",ea21ec81-1bfa-4a07-9b4d-73d9852afcbf,2014-09-12 11:15:07.497
697,1990,Technical Parts Manufacturing,281,"<StoreSurvey xmlns=""http://schemas.microsoft.c...",c8e3c4ed-8f58-4db2-b600-e0cd11d9cfad,2014-09-12 11:15:07.497
698,1992,Totes & Baskets Company,277,"<StoreSurvey xmlns=""http://schemas.microsoft.c...",ce860b58-643c-4567-bfd8-06e97969cc67,2014-09-12 11:15:07.497
699,1994,World of Bikes,277,"<StoreSurvey xmlns=""http://schemas.microsoft.c...",0c10f2b6-a13a-440c-9c25-5b28d482872a,2014-09-12 11:15:07.497
700,2051,A Bicycle Association,275,"<StoreSurvey xmlns=""http://schemas.microsoft.c...",82237172-d3fe-4a95-82ef-636f655240ad,2014-09-12 11:15:07.497

# Transforming Data

In [260]:
tableSalesStorePerson_filtrado=tableSalesStorePerson.dropna()

In [261]:
tableSalesStorePerson_filtrado

,businessentityid,territoryid,salesquota,bonus,commissionpct,salesytd,saleslastyear,rowguid,modifieddate
1,275,2.0,300000.0,4100.0,0.012,3.763178e+06,1.750406e+06,1e0a7274-3064-4f58-88ee-4c6586c87169,2011-05-24
2,276,4.0,250000.0,2000.0,0.015,4.251369e+06,1.439156e+06,4dd9eee4-8e81-4f8c-af97-683394c1f7c0,2011-05-24
3,277,3.0,250000.0,2500.0,0.015,3.189418e+06,1.997186e+06,39012928-bfec-4242-874d-423162c3f567,2011-05-24
4,278,6.0,250000.0,500.0,0.010,1.453719e+06,1.620277e+06,7a0ae1ab-b283-40f9-91d1-167abf06d720,2011-05-24
5,279,5.0,300000.0,6700.0,0.010,2.315186e+06,1.849641e+06,52a5179d-3239-4157-ae29-17e868296dc0,2011-05-24
6,280,1.0,250000.0,5000.0,0.010,1.352577e+06,1.927059e+06,be941a4a-fb50-4947-bda4-bb8972365b08,2011-05-24
7,281,4.0,250000.0,3550.0,0.010,2.458536e+06,2.073506e+06,35326ddb-7278-4fef-b3ba-ea137b69094e,2011-05-24
8,282,6.0,250000.0,5000.0,0.015,2.604541e+06,2.038235e+06,31fd7fc1-dc84-4f05-b9a0-762519eacacc,2011-05-24
9,283,1.0,250000.0,3500.0,0.012,1.573013e+06,1.371635e+06,6bac15b2-8ffb-45a9-b6d5-040e16c2073f,2011-05-24
10,284,1.0,300000.0,3900.0,0.019,1.576562e+06,0.000000e+00,ac94ec04-a2dc-43e3-8654-dd0c546abc17,2012-09-23
12,286,9.0,250000.0,5650.0,0.018,1.421811e+06,2.278549e+06,9b968777-75dc-45bd-a8df-9cdaa72839e1,2013-05-23
14,288,8.0,250000.0,75.0,0.018,1.827067e+06,1.307950e+06,224bb25a-62e3-493e-acaf-4f8f5c72396a,2013-05-23
15,289,10.0,250000.0,5150.0,0.020,4.116871e+06,1.635823e+06,25f6838d-9db4-4833-9ddc-7a24283af1ba,2012-05-23
16,290,7.0,250000.0,985.0,0.016,3.121616e+06,2.396540e+06,f509e3d4-76c8-42aa-b353-90b7b8db08de,2012-05-23

In [262]:
tablex=pd.merge(tableSalesStorePerson,tableStore,left_on="businessentityid",right_on="salespersonid")

In [263]:
tablex

,businessentityid_x,territoryid,salesquota,bonus,commissionpct,salesytd,saleslastyear,rowguid_x,modifieddate_x,businessentityid_y,name,salespersonid,demographics,rowguid_y,modifieddate_y
0,275,2.0,300000.0,4100.0,0.012,3.763178e+06,1.750406e+06,1e0a7274-3064-4f58-88ee-4c6586c87169,2011-05-24,298,The Bike Mechanics,275,"<StoreSurvey xmlns=""http://schemas.microsoft.c...",7894f278-f0c8-4d16-bd75-213fdbf13023,2014-09-12 11:15:07.497
1,275,2.0,300000.0,4100.0,0.012,3.763178e+06,1.750406e+06,1e0a7274-3064-4f58-88ee-4c6586c87169,2011-05-24,306,Clamps & Brackets Co.,275,"<StoreSurvey xmlns=""http://schemas.microsoft.c...",64d06bfc-d060-405c-8c60-c067fe7c67df,2014-09-12 11:15:07.497
2,275,2.0,300000.0,4100.0,0.012,3.763178e+06,1.750406e+06,1e0a7274-3064-4f58-88ee-4c6586c87169,2011-05-24,320,Metropolitan Sales and Rental,275,"<StoreSurvey xmlns=""http://schemas.microsoft.c...",0cb4fef2-5047-40f7-8848-b59f7a3f3eec,2014-09-12 11:15:07.497
3,275,2.0,300000.0,4100.0,0.012,3.763178e+06,1.750406e+06,1e0a7274-3064-4f58-88ee-4c6586c87169,2011-05-24,328,Purchase Mart,275,"<StoreSurvey xmlns=""http://schemas.microsoft.c...",a3140349-57a3-46aa-bf32-d7f4753a06d6,2014-09-12 11:15:07.497
4,275,2.0,300000.0,4100.0,0.012,3.763178e+06,1.750406e+06,1e0a7274-3064-4f58-88ee-4c6586c87169,2011-05-24,344,Retail Sales and Service,275,"<StoreSurvey xmlns=""http://schemas.microsoft.c...",38f9be1b-9137-4e4e-985d-06f6c5e02330,2014-09-12 11:15:07.497
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
696,290,7.0,250000.0,985.0,0.016,3.121616e+06,2.396540e+06,f509e3d4-76c8-42aa-b353-90b7b8db08de,2012-05-23,1842,Racing Sales and Service,290,"<StoreSurvey xmlns=""http://schemas.microsoft.c...",cdd163a9-dc42-44b4-ba95-b5de845813e4,2014-09-12 11:15:07.497
697,290,7.0,250000.0,985.0,0.016,3.121616e+06,2.396540e+06,f509e3d4-76c8-42aa-b353-90b7b8db08de,2012-05-23,1894,The Bike Outlet,290,"<StoreSurvey xmlns=""http://schemas.microsoft.c...",9a11a00b-06e6-4e9b-a7d7-69fd4045f80e,2014-09-12 11:15:07.497
698,290,7.0,250000.0,985.0,0.016,3.121616e+06,2.396540e+06,f509e3d4-76c8-42aa-b353-90b7b8db08de,2012-05-23,1958,Ultimate Bicycle Company,290,"<StoreSurvey xmlns=""http://schemas.microsoft.c...",304c84b4-89a5-4b0f-8bbd-461e8c70c13c,2014-09-12 11:15:07.497
699,290,7.0,250000.0,985.0,0.016,3.121616e+06,2.396540e+06,f509e3d4-76c8-42aa-b353-90b7b8db08de,2012-05-23,1962,Metropolitan Equipment,290,"<StoreSurvey xmlns=""http://schemas.microsoft.c...",32618f97-57c6-454a-a594-172076b0f52c,2014-09-12 11:15:07.497
700,290,7.0,250000.0,985.0,0.016,3.121616e+06,2.396540e+06,f509e3d4-76c8-42aa-b353-90b7b8db08de,2012-05-23,1986,Recreation Toy Store,290,"<StoreSurvey xmlns=""http://schemas.microsoft.c...",77a34c42-6d04-406a-8dec-7928a48520ee,2014-09-12 11:15:07.497

In [238]:
#tablex=tablex.set_index('businessentityid_x')

In [239]:
#tablex

,territoryid,salesquota,bonus,commissionpct,salesytd,saleslastyear,rowguid_x,modifieddate_x,businessentityid_y,name,salespersonid,demographics,rowguid_y,modifieddate_y
businessentityid_x,,,,,,,,,,,,,,
275,2.0,300000.0,4100.0,0.012,3.763178e+06,1.750406e+06,1e0a7274-3064-4f58-88ee-4c6586c87169,2011-05-24,298,The Bike Mechanics,275,"<StoreSurvey xmlns=""http://schemas.microsoft.c...",7894f278-f0c8-4d16-bd75-213fdbf13023,2014-09-12 11:15:07.497
275,2.0,300000.0,4100.0,0.012,3.763178e+06,1.750406e+06,1e0a7274-3064-4f58-88ee-4c6586c87169,2011-05-24,306,Clamps & Brackets Co.,275,"<StoreSurvey xmlns=""http://schemas.microsoft.c...",64d06bfc-d060-405c-8c60-c067fe7c67df,2014-09-12 11:15:07.497
275,2.0,300000.0,4100.0,0.012,3.763178e+06,1.750406e+06,1e0a7274-3064-4f58-88ee-4c6586c87169,2011-05-24,320,Metropolitan Sales and Rental,275,"<StoreSurvey xmlns=""http://schemas.microsoft.c...",0cb4fef2-5047-40f7-8848-b59f7a3f3eec,2014-09-12 11:15:07.497
275,2.0,300000.0,4100.0,0.012,3.763178e+06,1.750406e+06,1e0a7274-3064-4f58-88ee-4c6586c87169,2011-05-24,328,Purchase Mart,275,"<StoreSurvey xmlns=""http://schemas.microsoft.c...",a3140349-57a3-46aa-bf32-d7f4753a06d6,2014-09-12 11:15:07.497
275,2.0,300000.0,4100.0,0.012,3.763178e+06,1.750406e+06,1e0a7274-3064-4f58-88ee-4c6586c87169,2011-05-24,344,Retail Sales and Service,275,"<StoreSurvey xmlns=""http://schemas.microsoft.c...",38f9be1b-9137-4e4e-985d-06f6c5e02330,2014-09-12 11:15:07.497
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
290,7.0,250000.0,985.0,0.016,3.121616e+06,2.396540e+06,f509e3d4-76c8-42aa-b353-90b7b8db08de,2012-05-23,1842,Racing Sales and Service,290,"<StoreSurvey xmlns=""http://schemas.microsoft.c...",cdd163a9-dc42-44b4-ba95-b5de845813e4,2014-09-12 11:15:07.497
290,7.0,250000.0,985.0,0.016,3.121616e+06,2.396540e+06,f509e3d4-76c8-42aa-b353-90b7b8db08de,2012-05-23,1894,The Bike Outlet,290,"<StoreSurvey xmlns=""http://schemas.microsoft.c...",9a11a00b-06e6-4e9b-a7d7-69fd4045f80e,2014-09-12 11:15:07.497
290,7.0,250000.0,985.0,0.016,3.121616e+06,2.396540e+06,f509e3d4-76c8-42aa-b353-90b7b8db08de,2012-05-23,1958,Ultimate Bicycle Company,290,"<StoreSurvey xmlns=""http://schemas.microsoft.c...",304c84b4-89a5-4b0f-8bbd-461e8c70c13c,2014-09-12 11:15:07.497
290,7.0,250000.0,985.0,0.016,3.121616e+06,2.396540e+06,f509e3d4-76c8-42aa-b353-90b7b8db08de,2012-05-23,1962,Metropolitan Equipment,290,"<StoreSurvey xmlns=""http://schemas.microsoft.c...",32618f97-57c6-454a-a594-172076b0f52c,2014-09-12 11:15:07.497
290,7.0,250000.0,985.0,0.016,3.121616e+06,2.396540e+06,f509e3d4-76c8-42aa-b353-90b7b8db08de,2012-05-23,1986,Recreation Toy Store,290,"<StoreSurvey xmlns=""http://schemas.microsoft.c...",77a34c42-6d04-406a-8dec-7928a48520ee,2014-09-12 11:15:07.497

In [264]:
tablex=tablex.drop_duplicates(subset=['businessentityid_x'])

In [265]:
tablex

,businessentityid_x,territoryid,salesquota,bonus,commissionpct,salesytd,saleslastyear,rowguid_x,modifieddate_x,businessentityid_y,name,salespersonid,demographics,rowguid_y,modifieddate_y
0,275,2.0,300000.0,4100.0,0.012,3.763178e+06,1.750406e+06,1e0a7274-3064-4f58-88ee-4c6586c87169,2011-05-24,298,The Bike Mechanics,275,"<StoreSurvey xmlns=""http://schemas.microsoft.c...",7894f278-f0c8-4d16-bd75-213fdbf13023,2014-09-12 11:15:07.497
77,276,4.0,250000.0,2000.0,0.015,4.251369e+06,1.439156e+06,4dd9eee4-8e81-4f8c-af97-683394c1f7c0,2011-05-24,294,Professional Sales and Service,276,"<StoreSurvey xmlns=""http://schemas.microsoft.c...",b50ca50b-c601-4a13-b07e-2c63862d71b4,2014-09-12 11:15:07.497
116,277,3.0,250000.0,2500.0,0.015,3.189418e+06,1.997186e+06,39012928-bfec-4242-874d-423162c3f567,2011-05-24,296,Riders Company,277,"<StoreSurvey xmlns=""http://schemas.microsoft.c...",337c3688-1339-4e1a-a08a-b54b23566e49,2014-09-12 11:15:07.497
192,278,6.0,250000.0,500.0,0.010,1.453719e+06,1.620277e+06,7a0ae1ab-b283-40f9-91d1-167abf06d720,2011-05-24,332,Family's Favorite Bike Shop,278,"<StoreSurvey xmlns=""http://schemas.microsoft.c...",712df7b6-a6e4-4059-a1b8-6d39a80ab712,2014-09-12 11:15:07.497
232,279,5.0,300000.0,6700.0,0.010,2.315186e+06,1.849641e+06,52a5179d-3239-4157-ae29-17e868296dc0,2011-05-24,292,Next-Door Bike Store,279,"<StoreSurvey xmlns=""http://schemas.microsoft.c...",a22517e3-848d-4ebe-b9d9-7437f3432304,2014-09-12 11:15:07.497
312,280,1.0,250000.0,5000.0,0.010,1.352577e+06,1.927059e+06,be941a4a-fb50-4947-bda4-bb8972365b08,2011-05-24,430,Center Cycle Shop,280,"<StoreSurvey xmlns=""http://schemas.microsoft.c...",8e153f0c-275c-42ca-98df-adefb90ab587,2014-09-12 11:15:07.497
350,281,4.0,250000.0,3550.0,0.010,2.458536e+06,2.073506e+06,35326ddb-7278-4fef-b3ba-ea137b69094e,2011-05-24,302,Area Bike Accessories,281,"<StoreSurvey xmlns=""http://schemas.microsoft.c...",368be6dd-30e5-49bb-9a86-71fd49c58f4e,2014-09-12 11:15:07.497
429,282,6.0,250000.0,5000.0,0.015,2.604541e+06,2.038235e+06,31fd7fc1-dc84-4f05-b9a0-762519eacacc,2011-05-24,312,Vinyl and Plastic Goods Corporation,282,"<StoreSurvey xmlns=""http://schemas.microsoft.c...",dc610525-e373-49b1-b786-ea040ec25c06,2014-09-12 11:15:07.497
503,283,1.0,250000.0,3500.0,0.012,1.573013e+06,1.371635e+06,6bac15b2-8ffb-45a9-b6d5-040e16c2073f,2011-05-24,304,Bicycle Accessories and Kits,283,"<StoreSurvey xmlns=""http://schemas.microsoft.c...",35f40636-5105-49d5-869e-27e231189150,2014-09-12 11:15:07.497
541,286,9.0,250000.0,5650.0,0.018,1.421811e+06,2.278549e+06,9b968777-75dc-45bd-a8df-9cdaa72839e1,2013-05-23,300,Nationwide Supply,286,"<StoreSurvey xmlns=""http://schemas.microsoft.c...",c3fc9705-a8c4-4f3a-9550-eb2fa4b7b64d,2014-09-12 11:15:07.497
581,288,8.0,250000.0,75.0,0.018,1.827067e+06,1.307950e+06,224bb25a-62e3-493e-acaf-4f8f5c72396a,2013-05-23,314,Top of the Line Bikes,288,"<StoreSurvey xmlns=""http://schemas.microsoft.c...",e290e93f-a980-4ba3-86c3-9858f15c8a6d,2014-09-12 11:15:07.497
621,289,10.0,250000.0,5150.0,0.020,4.116871e+06,1.635823e+06,25f6838d-9db4-4833-9ddc-7a24283af1ba,2012-05-23,432,Bulk Discount Store,289,"<StoreSurvey xmlns=""http://schemas.microsoft.c...",e26b0754-871a-49ad-a21b-5e58d7e804ed,2014-09-12 11:15:07.497
661,290,7.0,250000.0,985.0,0.016,3.121616e+06,2.396540e+06,f509e3d4-76c8-42aa-b353-90b7b8db08de,2012-05-23,434,Country Parts Shop,290,"<StoreSurvey xmlns=""http://schemas.microsoft.c...",9b88e8ed-c244-484d-8c4f-89f59570ebea,2014-09-12 11:15:07.497